<div class="main-card">
  <div class="conatiner-fluid">
    <div class="row">
      <div class="title">
        <h1>Real Time Data</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button
          type="button"
          class="checkBtn"
          mat-button
          [routerLink]="['coVaccine']"
        >
          Check CoVaccine Updates
        </button>
      </div>
      <div class="col-md-6">
        <button
          type="button"
          class="checkBtn"
          mat-button
          [routerLink]="['bitCoins']"
        >
          Check BitCoins Updates
        </button>
      </div>
    </div>
  </div>
</div>
